@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1;
}

.ba {
  padding: 100px 0;
  text-align: center;
}

.ba:nth-child(even) {
  background: #f2f2f2;
}

.bas01 h2::before {
  content: "룰루랄라";
}

.bas01 h2::after {
  content: "랄라룰라";
}

.bas02 h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: #369;
  border-radius: 20px 0;
  margin: 15px auto;
}

.bas03 h2::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  background: #369;
  vertical-align: middle;
  margin: 0 10px;
}

.bas03 h2::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  background: #369;
  vertical-align: middle;
  margin: 0 10px;
}

.bas04 li::before {
  content: "\e95e";
  font-family: xeicon !important;
  display: inline-block;
  vertical-align: middle;
  color: #f00;
  margin-right: 10px;
}

.bas05 p {
  margin-bottom: 30px;
}

.bas05 .container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.bas05 .container figure {
  position: relative;
  flex: 1;
  padding: 0 15px;
}

.bas05 img {
  width: 100%;
}

.bas05 .container figure::after {
  content: attr(data-num);
  position: absolute;
  top: -10px;
  left: -10px;
  width: 60px;
  height: 60px;
  background: #f00;
  color: #fff;
  font-size: 30px;
  line-height: 60px;
  border-radius: 50%;
}
