.allWrap{
    background-color:#f2f2f2;
}

.header-wrap{
    display:none;
    background:rgb(238, 163, 163);
    color:#fff;
    padding:20px 0;
}

.header-wrap .container{
    width:1200px;
    margin: 0 auto;
}

.xi-close{
    background:rgb(238, 163, 163);
    padding: 10px;
    text-align: center;
    position:relative;
    transition:0.5s;
    top:0;
    left:65%;
}


.tab-menu{
    padding:100px 0;
    background:#f2f2f2;
}

.tab-menu .container{
    width:600px;
    margin: 0 auto;
}

.tab-menu .tab-link{
    display:flex;
}

.tab-menu .tab-link li{
    flex:1;
    cursor: pointer;
    text-align: center;
}

.tab-menu .tab-link li.active{
    color:lightcoral;
}

.tab-content > div{
    width:600px;
    background-color:rgb(188, 247, 188);
    color:#fff;
    font-size:20px;
    font-weight: 900;
    text-align: center;
    padding:20px 0;
    margin-top:50px;
    border-radius: 30px;
    display:none;
}

.tab-content > div.active{
    display:block;
}

/* bg-fixed */

.bg-fixed{
    padding: 200px 0;
    text-align: center;
    color:#fff;
    background:url(../img/main_slider_n05.jpg) no-repeat fixed center center/cover;
}

.bg-fixed h2{
    font-size:15px;
    font-weight:100;
    letter-spacing:3em;
    margin-bottom:30px;
}
