@media all and (max-width:959px){



    #wrap{
        width:100%; 
    }
    
    /* header */
    
    header{
        width:100%;
        height:100px;
        position:fixed;
        z-index: 99;
    }
    
    #logo{
        width:95px;
        position:absolute;
        top:20px;
        left:30px;
    }
    
    #ham{
        width:25px;
        position:absolute;
        top:20px;
        right:30px;
    }
    
    /* section */
    
    section{
        width:100%;
        /* background-color:lightgrey; */
        position:relative;
    }
    
    #bg_box{
        width:1480px;
        height:100%;
        background-image:url(../img/bg_main.png);
        background-size:cover;
        float:right;
        display:none;
    }
    
    #container{
        width:80%;
        height:100%;
        margin: 0 auto;
        /* background-color:lightslategrey; */
        position:relative;
    }
    
    #txt_wrap{
        width:100%;
        /* background-color:lightgreen; */
        position:relative;
        top:90px;
    
    }
    
    #txt_wrap p{
        width:100%;
        height:30px;
        font: 20px /30px '';
        letter-spacing: -3px;
    }
    
    #txt_wrap #check{
        width:90px;
        height:40px;
        /* background-color:lightpink; */
        font: 600 14px/50px '';
        border-bottom:1px solid black;
        margin:40px 0;
    }
    
    #check::after{
        width:50px;
        height:50px;
        display:block;
         content:'';
        position:absolute;
        bottom:23px;
        left:100px;
        background:url(../img/ico_arr1.png) no-repeat left;
        background-size:35px auto;
    }

    #mo_bg{
        width:100vw;
        height:50vw;
        position:relative;
        top:0;
        left:-10vw;

    }
    
    /* 3_box_section */
    
    .sec_box{
        width:100vw;
        height:90px;
        background-color:#fff;
        position:relative;
        top:0;
        left:-10vw;
        padding:30px;
        box-sizing: border-box;
    }
    
    #box1{
        
        background-color: #2ab6ad;
        color:white;
    }
    
    #box1 a{
        color:#fff;
    }
    
    #box2{
        
    }
    
    #box3{
        
        background-color:#eaeaea;
    }
    
    .read_more{
        width:auto;
        height:30px;
        position:absolute;
        top:40px;
        right:30px;
        font:12px/ 30px '';
        display:none;
    }
    
    .info{
        width:auto;
        font-size:16px;
        background-image: url(../img/ico_arr3.png);
        background-repeat: no-repeat;
        background-position: right 2px;
        padding-right:50px;
        position:absolute;
        top:20px;
        background-size:20px auto;
    }
    
    .detail{
        width:100%;
        position:absolute;
        top:40px;
        letter-spacing: -2px;
        font-size:14px;
    }

    
    
    /* footer */
    
    footer{
        width:100%;
        height:120px;
        background-color:#3e4146;
        position:relative;
    }
    
    #in_footer{
        width:97%;
        margin: 0 auto;
        /* background-color:wheat; */
        color:gray;
    }
    
    #left_footer_wrap{
        width:100%;
        /* background-color:lightgreen; */
    }
    
    #personal_box{
        width:auto;
        height:40px;
        /* background-color:lightsalmon; */
        font:10px/ 40px '';
    }
    
    #personal_box a{
        color:gray;
    }
    
    #personal_box a span{
        font-weight: 900;
        color:#fff;
    }
    
    #left_footer_wrap>img{
        width:150px;
    
    }
    
    #add_box{
        width:auto;
        font:10px/30px '';
    }
    
    #right_footer_wrap{
        width:500px;
        float:right;
    }
    
    #sitemap{
        width:100%;
        height:60px;
        text-align:right;
        font:14px / 60px '';
        color:#fff;
        position:absolute;
        top:-10px;
    }
    
    #copyright{
        width:100%;
        font:12px / 50px '';
    }
    
    
    /* hidden_menu */
    
    #hidden_wrap{
        width:100%;
        height:950px;
        position:absolute;
        top:0;
        left:0;
        z-index:9999999;
        background-color:rgba(255,255,255,0.7);
        display:none;
    }
    
    
    #close>div{
        width:100%;
        height:100%;
        background-color:black;
    }
    
    #right_sec{
        width:100%;
        height:100%;
        background-color:#424559;
        float:right;
        position:relative;
    }
    
    #mo_logo_wrap{
        /* display:none; */
        width:100%;
        height:50px;
        border-bottom:1px solid dimgray;
    }

    #mo_logo_wrap div{
        width:100px;
        margin-top:15px;
        margin-left:15px;
        background-color:firebrick;
        float:left;
    }
    
    
    #hidden_menu_wrap{
        width:80%;
        margin: 0 auto;
        position:relative;
    }
    
    #close{
        width:20px;
        height:20px;
        position:absolute;
        top:-35px;
        right:0;
    }
    
    #hidden_main_menu{
        width: 100%;
        position:relative;
        top:50px;
        left:50px;
    }
    
    .hidden_menu{
        width:100%;
        height:60px;
        font: 20px/ 60px '';
    }
    
    .hidden_menu a{
        color:white;
    }
    
    .hidden_title{
        width:auto;
        height:100%;
        float:left;
    }
    
    .hidden_title::after{
        width:0;
        height:3px;
        background-color:#2ab6ad;
        display:block;
        content:'';
        position:relative;
        top:-20px;
        transition-duration:0.5s;
    
    }
    
    .hidden_title:hover a{
        color:#2ab6ad;
    }
    
    
    .hidden_title:hover::after{
        width:100%;
    }
    
    .arrow{
        width:auto;
        height: 100%;
        float:left;
        color:#2ab6ad;
        margin-left:50px;
        display:none;
    }
    
    #hidden_sub_menu{
        width:100%;
        position:relative;
        color:yellow;
        margin-top:50px;
        left:80px;
    }
    
    .sub_menu{
        width:auto;
        height:30px;
        font-size:14px;
    }
    
    .sub_menu a{
        color:lightgray;
    }
    
    #hidden_footer{
        width:100%;
        position:relative;
        top:150px;
        color:gray;
        letter-spacing: -1px;
        display:none;
    }
    
    #hidden_personal{
        width:auto;
        height:50px;
    
    }
    
    #hidden_personal a{
        color:gray;
    }
    
    #hidden_personal a span{
        color:#fff;
        font-weight:900;
    }
































}